
.sale{
    margin: 40px 0px;
}
.filterWrapper {
    width: 800px;
  
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
    }
  }
  .filterForms {
    display: flex;
    justify-content: space-around;
   
    margin: 20px 0px;
  }