.button{
    border-radius: 55px;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
} 
.yellow_btn{
    background-color: #4dff9a;
    border: 1px solid #4bb579;
}
.white_btn {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(228, 228, 228) ;
}